
@font-face{
	font-family: Myfont;
	src: url("./Charming.otf");
	color: white;
}

html {
	background-color: black;
}

h1 {
	font-family: Myfont;
	color:white;
}

a:link, a:hover, a:visited {
	color:white;
	margin: 5px;
}

.links{
	font-family: Myfont;
	text-align: right;
	position: relative;
	
}
.title {
	width:7%;
	padding-left: 10px;
	border-style: solid;
	border-color: white;
	margin-left: 10px;
}

div.photos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery{
	border: 1px solid white;
	margin: 5px;
	float: left;
}

div.galery img{
	width: 100%
	height: auto;
}

.fling-minislide {
	width: 800px;
	height: 500px;
	position: relative;
	border: 1px solid white;
}

.fling-minislide img {
	position: absolute;
	animation: fling-minislide;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	opacity: 0;
	width: 100%;
	height: 100%;
}

@keyframes fling-minislide{5%{opacity:1;}15%{opacity:0;}}
.fling-minislide img:nth-child(1){animation-delay:0s;}
.fling-minislide img:nth-child(2){animation-delay:5s;}
.fling-minislide img:nth-child(3){animation-delay:10s;}
.fling-minislide img:nth-child(4){animation-delay:15s;}
.fling-minislide img:nth-child(5){animation-delay:20s;}
.fling-minislide img:nth-child(6){animation-delay:25s;}
.fling-minislide img:nth-child(7){animation-delay:30s;}
.fling-minislide img:nth-child(8){animation-delay:35s;}
.fling-minislide img:nth-child(9){animation-delay:40s;}
.fling-minislide img:nth-child(10){animation-delay:45s;}
.fling-minislide img:nth-child(11){animation-delay:50s;}
.fling-minislide img:nth-child(12){animation-delay:55s;}

